html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p,
blockquote, pre, form, fieldset, table, th, td { 
    margin: 0; 
    padding: 0; 
}

body {
    background-color: #fff;
    border-top: .5em solid #666;
    color: #333;
    font-size: 1.1em;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}

a {
    font-weight: normal;
    text-decoration: none;
}

a:link {
    color: #c00;
}

a:visited {
    color: #666;
}

a:hover, a:active {
    color: #333;
}

p {
    line-height: 1.5em;
}

img {
    display: block;
    margin: 1em, auto;
}

/*----------------------------------------*/

.hidden {
    display: none;
}

.indent {
    margin-left: 1em;
}

.Indent {
    margin-left: 2em;
}

.INDENT {
    margin-left: 4em;
}

.bordered {
    border: 1px solid #999;
}

.inline {
    display: inline;
}

.emailLink:link, .emailLink:visited {
    color: #333;
    text-decoration: none;
}

/*----------------------------------------*/

#page {
    margin: 3px auto 0 auto;
    width: 35em;
}

#header {
    border-bottom: 1px solid #aaa;
    margin-top: 1em;
}

#header h1 {
    color: #888;
    display: inline;
    font-family: verdana, sans-serif;
}

#header span {
    font-size: 1.1em;
    margin-left: 1em;
}

#content {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: .9em;
    margin-top: 1.2em;
    min-height: 30em;
    text-align: justify;
}

#content div {
    margin-top: 1em;
}

#content h2 {
    display: inline;
    font-size: 1em;
    margin-right: .4em;
    text-decoration: underline;
}

#content ul, #content p {
    margin-top: .4em;
}

#content ul li {
    margin-left: 2em;
}

#content p {
    text-align: justify;
}

#content .firstPara {
    display: inline;
}

#content .section {
    margin: 0;
    margin-top: 1em;
    padding: 0;
 }

#resources li {
    text-align: justify;
}

#resources li a {
    margin-right: 1em;
}

#comments {
    border-top: 1px solid #aaa;
    margin-top: 3em;
}

#footer {
    border-top: 1px solid #aaa;
    font-size: .8em;
    margin-top: 1em;
    text-align: center;
}

#footer ul {
    margin: .3em 0 0 0;
    padding: 0;
}

#footer li {
    display: inline;
    margin-right: .4em;
}

#footer li:first-child:before {
    content: "";
}

#footer li:before {
    content: "|";
    margin-right: .4em;
}
