<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml" />

  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" />

  <script type="text/javascript" src="/js/prototype.js"></script>

  <title>{{ page.title }} :: scvalex.github.com</title>
</head>

<body>
<div id="page">

  <div id="header"><h1>scvalex</h1><span>{{ page.title }}</span></div>

  <div id="nav" class="hidden"></div>

  <div id="content">
    {{ content }}
  </div>

  <div id="sidebar" class="hidden"></div>

  <div id="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript" src="http://disqus.com/forums/scvalex/embed.js"></script>
    <noscript><a href="http://scvalex.disqus.com/?url=ref">View the discussion thread.</a></noscript>
  </div>

  <div id="footer">
    <ul>
      <li><a class="emailLink" href="mailto:scvalex@gmail.com">Alexandru Scvortov</a></li>
      <li><a href="http://scvalex.github.com/">Home</a></li>
      <li><a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.0</a></li>
      <li><a href="http://informationarchitects.jp/100E2R/">100E2R</a></li>
    </ul>
  </div>

</div>

<!-- DISQUS code -->
<script type="text/javascript">
  (function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for (var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/scvalex/get_num_replies.js' + query + '"></' + 'script>');
  })();
</script>

<!-- Google Analytics code -->
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-82853-5");
  pageTracker._trackPageview();
  } catch(err) {}
</script>
</body>

</html>
